body {
     background-color: peru;
}


h5 {
    background-color: aqua;
    font-size: 50px;
}

#estado {
    background-color: yellow;
}
.btn {
    background-color: red;
}

.texto-resaltado {
    color: blue;
}
.btn